<!-- Header -->
<div class="relative bg-red-600 md:pt-32 pb-32 pt-12">
  <div class="px-4 md:px-10 mx-auto w-full">
    <div>
      <!-- Card stats -->
      <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="Nombre D'Adhérents"
            statTitle="{{ countUsers }}"
            statIconName="fas fa-users"
            statIconColor="bg-orange-500"
          ></app-card-stats>
        </div>
      </div>
    </div>
  </div>
</div>
